@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}

body,
html {
  background-color: #0f172a; /* slate-900 */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
